@model HoldingERP.WebUI.Models.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">

    @if (User.IsInRole("Admin") || User.IsInRole("Onaycı"))
    {
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <i class="bx bx-check-shield bx-lg text-warning"></i>
                        </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">Onay Bekleyen Talepler</span>
                    <h3 class="card-title mb-2">@Model.OnayBekleyenTalepSayisi</h3>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Satın Almacı"))
    {
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <span class="fw-semibold d-block mb-1">Yeni Satın Alma Talepleri</span>
                    <h3 class="card-title text-primary mb-2">@Model.IslemBekleyenSatinAlmaTalepSayisi</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <span class="fw-semibold d-block mb-1">Teklif Bekleyenler</span>
                    <h3 class="card-title text-info mb-2">@Model.TeklifBekleyenTalepSayisi</h3>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Talep Eden"))
    {
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <span class="fw-semibold d-block mb-1">Aktif Taleplerim</span>
                    <h3 class="card-title text-success mb-2">@Model.KullanicininAktifTalepSayisi</h3>
                </div>
            </div>
        </div>
    }

</div>

<div class="card">
    <h5 class="card-header">Sistemdeki Son Talepler</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Talep No</th>
                    <th>Açıklama</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var talep in Model.SonTalepler)
                {
                    <tr>
                        <td>@talep.Id</td>
                        <td>@talep.Aciklama</td>
                        <td><span class="badge bg-label-primary me-1">@talep.Durum</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>